@import "../../styles/variables.scss";

.community {
  background-color: $mainCol;

  &__wrapper {
    padding-top: 64px;
  }

  &__title {
    font-size: 50px;
    margin-bottom: 37px;
  }

  &__text {
    font-family: $secFont;
    font-size: 20px;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .community {
    &__title {
      margin-bottom: 40px;
    }
  }
}
