@import "../../styles/variables.scss";

.navbar {
  background-color: $lightCol;
  margin-bottom: 48px;
  margin-top: 35px;
  padding: 0;

  &__logo-text {
    margin-left: 15px;
  }
}

// TODO: COLOR TEXT BLACK
